@CHARSET "UTF-8";

body {font-size:14.0pt;font-family:宋体}
div.main {width:800px;margin: 0 auto;}
.title {text-align:center;line-height:28.0pt;font-size:22.0pt;font-family:方正小标宋简体;font-weight:bold;margin-top: 64px;}
.sub_title {line-height:22.0pt;font-size:18.0pt;font-family:宋体;font-weight:bold;margin-top: 18px; margin-bottom: 8px;}
.sub_sub_title {line-height:22.0pt;font-size:16.0pt;font-family:宋体;text-indent: 2em;margin-top: 18px; margin-bottom: 8px;}
.txt {font-size:14.0pt;font-family:宋体;text-indent: 4em;margin-top: 4px; margin-bottom: 4px;}
.select {margin-top: 4px; margin-bottom: 4px;}
textarea {width:600px;height:80px;resize:none;}

.hidden {display: none;}
.btn {background:url(../image/button.png) no-repeat; border:none; color:#141;font-size:22.0pt;font-weight: 600;width: 180px;height: 60px;margin-left: 300px;padding-bottom: 2px;opacity: 0.8;}
.blue {color:#0000FF}
.red {color:#FF0000}

.em2 {text-indent: 2em;}
.em4 {text-indent: 4em;}
.em10 {text-indent: 10em;}
.center {text-align:center;}